<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myposyandu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_putih"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_putih"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.DetailIbuActivity"></activity>
        <activity
            android:name=".activity.Main4Activity"
            android:label="@string/title_activity_main4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DetailJadwalActivity" />
        <activity android:name=".activity.DetailArtikelActivity" />
        <activity android:name=".activity.DetailBayiActivity" />
        <activity
            android:name=".activity.Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CobaActivity" />
        <activity android:name=".activity.TambahBayiActivity" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>